### Documentation: 

#### Overall
The main goal of this project is to convert multiple excel data files to appended rows in a SQL database. This will operate via the following procedure: 

1. Python/SQLite connection to SQL database. 
2. Clean each csv/excel file via python
3. Upload and replace associated table in SQLfile 

#### GSM Member Instructions after download and save: 
1. From August Dashboard xlsx file take out all spaces manually (rename)


#### Location path
C:\Users\ckato\Documents\GitHub\metals-research\data

#### To upload into Power BI, install driver first here: 
http://www.ch-werner.de/sqliteodbc/

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import(Table, Column, String, Integer, Boolean)
from sqlalchemy import MetaData, Table

import numpy as np

import datetime

import pandas as pd

## Step 1: SQL Connection to Database

In [2]:
# Connecting to Engine
engine = create_engine('sqlite:///metals_dashboard.sqlite')

connection = engine.connect()

# What's in the database already?
print(engine.table_names())

['EVSales', 'M3E1', 'M3E3', 'MS', 'MX', 'baselines', 'battery_cap', 'cell18650H', 'cell2170C', 'cellM48', 'commodities', 'fastmarkets', 'lithium_benchmark_fastmarkets', 'usage']

In [17]:

df = pd.read_sql_query('SELECT * from lithium_benchmark_fastmarkets;', connection)

In [18]:
df

,Unnamed: 0,"Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg High (USD)",CIF Asia
0,2017-08-01 00:00:00.000000,22.000,20500
1,2017-09-01 00:00:00.000000,22.000,20750
2,2017-10-01 00:00:00.000000,21.500,20000
3,2017-11-01 00:00:00.000000,21.200,20250
4,2017-12-01 00:00:00.000000,22.000,20500
5,2018-01-01 00:00:00.000000,22.000,20500
6,2018-02-01 00:00:00.000000,22.000,20500
7,2018-03-01 00:00:00.000000,22.000,20750
8,2018-04-01 00:00:00.000000,22.000,20500
9,2018-05-01 00:00:00.000000,20.600,20500
10,2018-06-01 00:00:00.000000,20.000,20250
11,2018-07-01 00:00:00.000000,20.000,20250
12,2018-08-01 00:00:00.000000,20.000,20000
13,2018-09-01 00:00:00.000000,19.875,18750
14,2018-10-01 00:00:00.000000,18.750,18750
15,2018-11-01 00:00:00.000000,17.600,17000
16,2018-12-01 00:00:00.000000,17.000,16500
17,2019-01-01 00:00:00.000000,17.000,16250
18,2019-02-01 00:00:00.000000,17.000,16000
19,2019-03-01 00:00:00.000000,16.625,15000
20,2019-04-01 00:00:00.000000,16.000,14750
21,2019-05-01 00:00:00.000000,15.700,14125
22,2019-06-01 00:00:00.000000,15.000,14000
23,2019-07-01 00:00:00.000000,14.750,13750
24,2019-08-01 00:00:00.000000,14.000,13650
25,2019-09-01 00:00:00.000000,NaN,13400

## Step 2 Clean each csv/excel file via python

### Iteratively Updating

Steps to creating/updating database
1. connect to sql server
2. Iterate next steps over a list of filenames
    3. load csv file and create pandas dataframe
    4. replace sql table with new table from pandas df

### Create list of folderpath manually

filepaths include:

1. filename1
2. filename2
3. filename3

associated pandas dataframe names include: 
1. commodities 
2. battery_cap
3. fastmarkets

#### Reading and Cleaning Commodities Data

In [3]:
filename1 = 'raw_data_finals\MetalsDashboard(Aug)LATEST.xlsx'
commodities = pd.read_excel(filename1, sheet_name="Commodities Data")


# read census.csv into a dataframe to create pandas dataframe

commodities.columns = commodities.iloc[0]

#############
commodities = commodities.iloc[6: ,:]
commodities = commodities.iloc[:, 1:]
commodities = commodities.rename(columns={"Column1": "Date"})

commodities['Date'] = pd.to_datetime(commodities['Date'])
commodities = commodities.set_index('Date')

commodities = commodities.drop("Column2", axis=1)
commodities['Fastmarkets - Cobalt High'] = commodities['Fastmarkets - Cobalt High'].replace('""', np.nan)
commodities = commodities.astype(float)

commodities.head(10)

,LME Ni cash price,LME Ni inventory (total),LME Ni inventory (briquette),LME Ni inventory (other forms),Critical Inventory,LME Co cash price,LME Cu cash price,Comex Cu future,Comex Cu future2,LME Al cash price,Fastmarkets- Cobalt LOW,Fastmarkets - Cobalt High
Date,,,,,,,,,,,,
2015-01-02,14756.0,414900.0,165720.0,249180.0,100000.0,31619.0,6321.00,272.65,6005.506608,1805.25,NaN,NaN
2015-01-05,15126.0,414756.0,165972.0,248784.0,100000.0,31365.0,6213.50,267.45,5890.969163,1787.25,NaN,NaN
2015-01-06,15191.0,415338.0,166506.0,248832.0,100000.0,31366.0,6221.00,267.30,5887.665198,1755.25,NaN,NaN
2015-01-07,15483.0,415812.0,167094.0,248718.0,100000.0,31367.0,6182.50,266.10,5861.233480,1761.75,NaN,NaN
2015-01-08,15486.0,415842.0,167124.0,248718.0,100000.0,31371.0,6175.75,267.30,5887.665198,1811.50,NaN,NaN
2015-01-09,15235.5,415164.0,166818.0,248346.0,100000.0,31371.0,6166.50,265.45,5846.916300,1789.75,NaN,NaN
2015-01-12,15029.0,414732.0,166554.0,248178.0,100000.0,31367.5,6101.00,262.55,5783.039648,1791.00,NaN,NaN
2015-01-13,14585.0,416436.0,167244.0,249192.0,100000.0,30769.0,5939.50,254.00,5594.713656,1779.25,NaN,NaN
2015-01-14,14241.0,418320.0,167142.0,251178.0,100000.0,30769.5,5619.00,241.20,5312.775330,1765.50,NaN,NaN
2015-01-15,14413.5,418332.0,167100.0,251232.0,100000.0,30774.5,5681.00,247.85,5459.251101,1781.60,NaN,NaN

In [4]:
commodities.to_sql("commodities", con=engine, if_exists='replace', index = True)

df = pd.read_sql_query('SELECT * from commodities;', connection)

#df['Date'] = pd.to_datetime(df['Date'])
#df

#### Reading and Cleaning Fastmarkets Data

Notes: 
- Needed to add dates as indices and take out text columns of 'day of week' and 'actual vs forecast'

In [4]:
# Fastmarkets table
filename3 = 'raw_data_finals/CobaltManganese/Metals and FX Rate Master - Latest.xlsx'
fastmarkets = pd.read_excel(filename3, sheet_name="LME - Daily")

fastmarkets = fastmarkets.iloc[:, 1:len(fastmarkets.columns)]
#############

fastmarkets.columns = fastmarkets.iloc[0, :]
fastmarkets = fastmarkets.iloc[1:, :]
fastmarkets = fastmarkets.iloc[:, 0:len(fastmarkets.columns)-4]


# Creating dummy dates column 

fastmarkets['Date'] = pd.to_datetime('2000-01-01')
conversion = []

for i in fastmarkets.index:
    #print( fastmarkets.iloc[i, 14])
    fastmarkets.iloc[i-1, 14]= fastmarkets.iloc[i-1, 14]+ datetime.timedelta(days=i-1)

fastmarkets.index = fastmarkets['Date']
fastmarkets = fastmarkets.iloc[:, :len(fastmarkets.columns)-1]


fastmarkets = fastmarkets.drop(columns=['Actual or Forecast', 'Day of the week' ])
fastmarkets = fastmarkets.astype(float)


fastmarkets
# Conversion of date columns into datetime data types
# fastmarkets['Date'] = pd.to_datetime(fastmarkets[['Year', 'Month']])

,Month,Year,Nickel,Cobalt,Copper,Aluminum,Low - $/lb,High - $/lb,Low - $/kg,High - $/kg,99.7% Electrolytic (low) $/kg,99.7% Electrolytic (high) $/kg
Date,,,,,,,,,,,,
2000-01-01,10.0,2016.0,10.190000,27.300000,4.807000,1.6500,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-02,10.0,2016.0,10.155000,28.000000,4.790500,1.6705,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,10.0,2016.0,9.970000,27.900000,4.777500,1.6625,12.45,13.15,27.447574,28.990811,NaN,NaN
2000-01-04,10.0,2016.0,10.120000,28.500000,4.742000,1.6675,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,10.0,2016.0,10.260000,28.500000,4.742000,1.6750,12.45,13.15,27.447574,28.990811,NaN,NaN
2000-01-06,10.0,2016.0,10.305000,29.000000,4.786000,1.6780,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,10.0,2016.0,10.415000,28.500000,4.801500,1.6730,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-08,10.0,2016.0,10.575000,28.500000,4.805000,1.6840,12.50,13.15,27.557805,28.990811,NaN,NaN
2000-01-09,10.0,2016.0,10.415000,28.300000,4.754500,1.6810,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,10.0,2016.0,10.435000,28.300000,4.672500,1.6850,12.50,13.15,27.557805,28.990811,NaN,NaN
2000-01-11,10.0,2016.0,10.400000,28.005000,4.671500,1.6450,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-12,10.0,2016.0,10.335000,28.500000,4.665500,1.6635,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-13,10.0,2016.0,10.280000,28.300000,4.642500,1.6220,12.50,13.15,27.557805,28.990811,NaN,NaN
2000-01-14,10.0,2016.0,10.165000,28.500000,4.633500,1.6125,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-15,10.0,2016.0,9.995000,28.100000,4.637000,1.6170,12.70,13.25,27.998730,29.211274,NaN,NaN
2000-01-16,10.0,2016.0,10.020000,28.750000,4.620500,1.6265,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-17,10.0,2016.0,10.255000,28.900000,4.720000,1.6510,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-18,10.0,2016.0,10.150000,28.400000,4.717500,1.6730,12.70,13.45,27.998730,29.652198,NaN,NaN
2000-01-19,10.0,2016.0,10.265000,28.750000,4.774000,1.6815,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-20,10.0,2016.0,10.340000,28.500000,4.787000,1.7015,12.70,13.45,27.998730,29.652198,NaN,NaN
2000-01-21,10.0,2016.0,10.550000,28.800000,4.827500,1.7230,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-22,11.0,2016.0,10.445000,28.500000,4.862500,1.7320,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-23,11.0,2016.0,10.355000,28.500000,4.871000,1.7090,12.70,13.45,27.998730,29.652198,NaN,NaN
2000-01-24,11.0,2016.0,10.440000,28.800000,4.918000,1.7260,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-25,11.0,2016.0,10.385000,28.700000,4.943000,1.7185,12.85,13.60,28.329424,29.982892,NaN,NaN
2000-01-26,11.0,2016.0,10.930000,29.000000,5.032000,1.7160,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-27,11.0,2016.0,11.140000,29.000000,5.044000,1.7060,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-28,11.0,2016.0,11.450000,29.250000,5.335000,1.7375,12.95,13.60,28.549886,29.982892,NaN,NaN
2000-01-29,11.0,2016.0,11.710000,29.200000,5.619000,1.7725,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-30,11.0,2016.0,11.735000,29.500000,5.900000,1.7770,13.05,13.65,28.770349,30.093123,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2002-11-18,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-19,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-20,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-21,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-22,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-23,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-24,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-25,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-26,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-27,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-28,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-29,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-30,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-01,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-02,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-03,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-04,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-05,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-06,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-07,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-08,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-09,7.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-10,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-11,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-12,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-13,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-14,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-15,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-16,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-17,8.0,2020.0,14.602266,29.823437,5.828398,1.7645,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:

fastmarkets.to_sql("fastmarkets", con=engine, if_exists='replace', index = True)

df = pd.read_sql_query('SELECT * from fastmarkets;', connection)

#df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Date,Month,Year,Nickel,Cobalt,Copper,Aluminum,Low - $/lb,High - $/lb,Low - $/kg,High - $/kg,99.7% Electrolytic (low) $/kg,99.7% Electrolytic (high) $/kg
0,2000-01-01 00:00:00.000000,10.0,2016.0,10.190,27.3,4.8070,1.6500,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-02 00:00:00.000000,10.0,2016.0,10.155,28.0,4.7905,1.6705,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03 00:00:00.000000,10.0,2016.0,9.970,27.9,4.7775,1.6625,12.45,13.15,27.447574,28.990811,NaN,NaN
3,2000-01-04 00:00:00.000000,10.0,2016.0,10.120,28.5,4.7420,1.6675,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-05 00:00:00.000000,10.0,2016.0,10.260,28.5,4.7420,1.6750,12.45,13.15,27.447574,28.990811,NaN,NaN

#### Reading and Cleaning Battery Capacity Data

In [5]:
# Battery Capacity table
filename2 = 'raw_data_finals/BatteryCapacity/201908 Benchmark Minerals Megafactory data - August 2019.xlsx'

battery_cap = pd.read_excel(filename2, sheet_name="Sheet1")
battery_cap = battery_cap.iloc[:, 1:len(battery_cap.columns)]
battery_cap =  battery_cap.iloc[6: ,:]
battery_cap.columns = battery_cap.iloc[0,:]

battery_cap = battery_cap.reset_index()
battery_cap= battery_cap.iloc[1:,1:]

# Creating dummy dates column 

battery_cap['Date'] = pd.to_datetime('2000-01-01')

for i in battery_cap.index:
    #print( battery_cap.iloc[i, 5])
    battery_cap.iloc[i-1, 5]= battery_cap.iloc[i-1, 5]+ datetime.timedelta(days=i-1)    
battery_cap.index = battery_cap['Date']
battery_cap = battery_cap.iloc[:, 0:len(battery_cap.columns)-1]

battery_cap['Megafactory1'] = battery_cap["Megafactory"].str.split(",", n = 1, expand = True)[0]
battery_cap['Location'] = battery_cap["Megafactory"].str.split(",", n = 1, expand = True)[1]
battery_cap = battery_cap.drop("Megafactory", axis=1)

battery_cap = battery_cap[['Megafactory1', 'Location', 'Region', 'GWh 2018', 'GWh 2023', 'GWh 2028']]
battery_cap.rename(columns={"Megafactory1": "Megafactory"})

6,Megafactory,Location,Region,GWh 2018,GWh 2023,GWh 2028
Date,,,,,,
2000-01-01,AESC,"Zama, Japan",Asia (excl China),2.6,2.6,2.6
2000-01-02,LEJ,"Shiga, Japan",Asia (excl China),2,2,4
2000-01-03,LG Chem,"Ochang, Korea",Asia (excl China),12,16,20
2000-01-04,Panasonic,"Himeji, Japan",Asia (excl China),3,8,20
2000-01-05,Panasonic,"Kasai, Japan",Asia (excl China),3,5,10
2000-01-06,Panasonic,"Suminoe, Japan",Asia (excl China),11,18,18
2000-01-07,Panasonic,"Sumoto, Japan",Asia (excl China),1,2,5
2000-01-08,Samsung,"Ulsan, Korea",Asia (excl China),6,20,24
2000-01-09,SKI,"Chungcheong, Korea",Asia (excl China),4,5,8
2000-01-10,AESC,"Jiangsu, China",China,0,20,20
2000-01-11,Anhui Liweineng,"Chuzhou, China",China,0,20,40
2000-01-12,BAK,"Shenzhen, China",China,8,16,20
2000-01-13,Beijing Linkdata Technologies,"Jiangyin, China",China,0,18,28
2000-01-14,Beijing National Battery,"Wuxi, Jiangsu, China",China,0,5,8
2000-01-15,BYD,"Huizhou, China",China,4,4,4
2000-01-16,BYD,"Qinghai, China",China,10,24,35
2000-01-17,BYD,"Shenzhen, China",China,14,15,15
2000-01-18,BYD,"Xi'an, China",China,0,16,30
2000-01-19,BYD,"Zengcheng, China",China,0,8,8
2000-01-20,BYD/Changan JV,"Chongqing, China",China,0,10,20
2000-01-21,CALB,"Changzhou, China",China,2.5,11,16
2000-01-22,CALB,"Luoyang, China",China,1,5,10
2000-01-23,CALB,"Xiamen, China",China,0,8,20
2000-01-24,CATL,"Liyang, China",China,0,40,50
2000-01-25,CATL,"Ningde, China",China,20,50,100
2000-01-26,CATL,"Xining, China",China,6.5,8,8
2000-01-27,CATL/FAW,"Ningde, China",China,0,12,15
2000-01-28,CATL/GAC,"Guangzhou, China",China,0,6,12
2000-01-29,CATL/SAIC,"Liyang, China",China,10,50,50
2000-01-30,Citic Guoan MGL,"Tianjin, China",China,2.5,7.5,12.5
...,...,...,...,...,...,...
2000-03-07,Tesson New Energy,"Nanjing, China",China,0,4,8
2000-03-08,Tianeng,"Maanshan, China",China,0,4,10
2000-03-09,Tianjin JEVE Industry,"Jiaxing, China",China,0,12,20
2000-03-10,Tianneng,"Zhejiang, China",China,8,12,16
2000-03-11,Wanxiang Group,"Hangzhou 2, China",China,0,24,64
2000-03-12,Wanxiang Group,"Hangzhou, China",China,5,8,8
2000-03-13,Weifeng New Energy,"Enshi, China",China,0,6,8
2000-03-14,Xingheng Power,"Chuzhou, China",China,0,16,24
2000-03-15,Xuzhou New Lingjia New Energy,"Xuzhou, China",China,0,1,3
2000-03-16,YouLion,"Suzhou, China",China,1.5,8,10
2000-03-17,Zhejiang Hengyuan (Geely),"Nanjing, China",China,4,8,12
2000-03-18,AESC,"Sunderland, UK",Europe,1.6,4,8
2000-03-19,CATL,"Erfurt, Germany",Europe,0,24,72
2000-03-20,Farasis,"Anhalt, Germany",Europe,0,8,14
2000-03-21,GSR Capital,"Trollhättan, Sweden",Europe,0,10,18
2000-03-22,LG Chem,"Wroclaw, Poland",Europe,15,50,70
2000-03-23,MES,"Horní Suchá, Czech Republic",Europe,0,3.6,15
2000-03-24,Northvolt,"Skellefteå, Sweden",Europe,0,16,32
2000-03-25,Samsung,"Göd, Hungary",Europe,3,10,20
2000-03-26,SKI,"Komárom 2, Hungary",Europe,0,5,10
2000-03-27,SKI,"Komárom, Hungary",Europe,0,7.5,10
2000-03-28,SVolt,"TBC, Europe",Europe,0,12,24
2000-03-29,TerraE (BMZ),"TBC, Germany",Europe,0,4,24
2000-03-30,VW/Northvolt,"Salzgitter, Germany",Europe,0,0,16
2000-03-31,AESC,"Tennessee, US",North America,3,4,8
2000-04-01,IM3,"Endicott, US",North America,0,15,15
2000-04-02,LG Chem,"Michigan, US",North America,4,12,25
2000-04-03,SKI,"Commerce, US",North America,0,9.8,14.7
2000-04-04,Tesla,"Gigafactory 1, US",North America,24,53,100
2000-04-05,IM3,"Townsville, Australia",Other,0,4,15

In [8]:
battery_cap.to_sql("battery_cap", con=engine, if_exists='replace', index = True)

#### Reading and Cleaning Usage Rates

In [9]:
usage = pd.read_excel("raw_data_finals/usage.xlsx")

usage.to_sql("usage", con=engine, if_exists='replace', index = True)

usage

# Create list of filenames 
#files_list = [filename1, filename2, filename3]

,Model,LiOH,Nickel,Cobalt,Copper,Aluminum,Steel,Manganese,cell_energy
0,M3-E3,57.073451,68.830836,4.630438,50.334320,421.749205,719.053646,0.00000,1.0
1,M3-E1,38.462543,46.385998,3.120513,43.870520,418.569640,695.557892,0.00000,1.0
2,MS,75.923629,83.256088,9.063918,20.850000,1050.520000,74.500000,0.00000,1.0
3,MX,75.923629,83.256088,9.063918,28.320000,1152.800000,74.500000,0.00000,1.0
4,cellM48,0.011220,0.012980,0.001720,0.005960,0.002380,0.000000,0.00085,17.4
5,cell2170C,0.011833,0.014868,0.000699,0.004503,0.002215,0.000000,0.00000,17.6
6,cell18650H,0.009196,0.010084,0.001098,0.002915,0.001314,0.000000,0.00000,12.8

#### Reading and Cleaning Lithium Benchmark and Fastmarkets

In [6]:
Li_Benchmarks = pd.read_excel("raw_data_finals/LiOH/201907 Benchmark Lithium Prices - Jul 19.xlsx", sheet_name="Hydroxide")

Li_Fastmarkets = pd.read_excel("raw_data_finals/LiOH/20190729 Lithium Spot Prices.xlsx", sheet_name="Data")

Li_Benchmarks.index = Li_Benchmarks.iloc[:,0]
Li_Benchmarks = Li_Benchmarks.iloc[:, 1:]

Li_Benchmarks_col = Li_Benchmarks.iloc[:, 1]
Li_Benchmarks_col.index = pd.to_datetime(Li_Benchmarks_col.index)

In [7]:
Li_Fastmarkets

,Unnamed: 0,"Lithium carbonate index, min 99.5% Li2O3, battery grade, ex works China, yuan/tonne","Lithium carbonate min 99.5% Li2CO3 battery grade, spot price range, ex-works domestic China, yuan/tonne","Lithium carbonate min 99.5% Li2CO3 battery grade, spot price range, ex-works domestic China, yuan/tonne .1","Lithium carbonate min 99.5% Li2CO3 battery grade, spot prices CIF China, Japan & Korea, $/kg Low (USD)","Lithium carbonate min 99.5% Li2CO3 battery grade, spot prices CIF China, Japan & Korea, $/kg High (USD)","Lithium hydroxide monohydrate min 56.5% LiOH.H2O battery grade, spot price range, ex-works domestic China, yuan/tonne","Lithium hydroxide monohydrate min 56.5% LiOH.H2O battery grade, spot price range, ex-works domestic China, yuan/tonne .1","Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg Low (USD)","Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg High (USD)",...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,2017-08-17 00:00:00,NaN,NaN,NaN,14.5,18.5,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-24 00:00:00,NaN,NaN,NaN,14.5,18.5,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-08-31 00:00:00,NaN,NaN,NaN,15.0,19.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-09-07 00:00:00,NaN,NaN,NaN,15.0,19.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-09-14 00:00:00,NaN,NaN,NaN,15.0,20.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-09-21 00:00:00,NaN,NaN,NaN,15.0,20.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-09-28 00:00:00,NaN,NaN,NaN,15.0,20.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-10-05 00:00:00,161500.0,155000.0,168000.0,15.0,20.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-10-12 00:00:00,166500.0,160000.0,173000.0,15.0,20.0,NaN,NaN,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MT,$/kg,NaN
9,2017-10-19 00:00:00,163929.0,160000.0,173000.0,18.0,20.0,NaN,NaN,17.7,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Fixed price,12000,11.5,11.5
10,2017-10-26 00:00:00,168300.0,160000.0,173000.0,18.0,20.0,NaN,NaN,17.7,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Variable price,6000,13.5,13.0
11,2017-11-02 00:00:00,176375.0,170000.0,180000.0,18.0,20.0,NaN,NaN,17.7,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Total,18000,12.1667,12.0
12,2017-11-09 00:00:00,174229.0,170000.0,173000.0,18.0,20.0,NaN,NaN,17.7,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-11-16 00:00:00,173667.0,170000.0,173000.0,18.0,20.0,NaN,NaN,17.7,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-11-23 00:00:00,175847.0,170000.0,180000.0,18.0,20.0,142000.0,150000.0,17.7,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-11-30 00:00:00,172100.0,170000.0,180000.0,18.0,20.0,142000.0,150000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-12-07 00:00:00,170917.0,170000.0,180000.0,18.0,20.0,142000.0,150000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2017-12-14 00:00:00,169722.0,165000.0,175000.0,18.5,20.0,145000.0,150000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-12-21 00:00:00,166500.0,165000.0,175000.0,18.5,20.0,145000.0,150000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2018-01-04 00:00:00,159250.0,158000.0,160000.0,18.5,20.0,145000.0,150000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2018-01-11 00:00:00,164006.0,160000.0,165000.0,18.5,20.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2018-01-18 00:00:00,158245.0,155000.0,160000.0,18.5,20.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2018-01-25 00:00:00,153917.0,155000.0,160000.0,18.5,20.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2018-02-01 00:00:00,157769.0,150000.0,155000.0,18.5,20.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2018-02-08 00:00:00,153428.0,145000.0,155000.0,19.0,21.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2018-02-15 00:00:00,151250.0,145000.0,155000.0,19.0,21.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2018-02-22 00:00:00,153500.0,145000.0,155000.0,19.0,21.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2018-03-01 00:00:00,160000.0,145000.0,155000.0,19.0,21.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018-03-08 00:00:00,157083.0,150000.0,160000.0,19.0,21.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2018-03-15 00:00:00,152990.0,150000.0,155000.0,19.0,21.0,148000.0,153000.0,19.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,2019-07-18 00:00:00,69000.0,67000.0,72000.0,10.5,12.0,75000.0,81000.0,13.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2019-07-25 00:00:00,68654.0,67000.0,70000.0,10.5,12.0,75000.0,80000.0,13.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,2019-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,70000.0,75000.0,12.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,2019-08-08 00:00:00,63317.0,60000.0,65000.0,10.0,12.0,70000.0,75000.0,12.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,2019-08-15 00:00:00,63030.0,60000.0,65000.0,10.0,12.0,70000.0,75000.0,12.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,IMPORTANT NOTICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Access to Fastmarkets MB content and data is o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Unauthorised redistribution of the information...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Your easy solutions?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,1. Redistribution licenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,We'll discuss how we can assist you in optimis...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,2. A Fastmarkets MB corporate account,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,When a number your colleagues need access to F...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,"A company account, may be the most cost effect...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3. Fastmarkets MB price feeds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Get Fastmarkets MB’s pricing data integrated w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,"Contact us today to discuss a hassle-free, cus...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Corporate Accounts Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,hello.mb@fastmarkets.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Direct line: +44 (0) 20 7779 8260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Li_Fastmarkets = Li_Fastmarkets.dropna(subset=[ 'Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg\r\nHigh (USD)'])

Li_Fastmarkets.index = pd.to_datetime(Li_Fastmarkets['Unnamed: 0']).dt.to_period('M')

In [9]:
Li_Fastmarkets_col = Li_Fastmarkets.loc[:, 'Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg\r\nHigh (USD)']
Li_Fastmarkets_col = Li_Fastmarkets_col.groupby(Li_Fastmarkets_col.index).mean()

Li_Fastmarkets_col

#baselines = df.groupby(['month_year']).mean()
#Li_Fastmarkets_col.index = pd.to_datetime(Li_Fastmarkets_col.index)

Unnamed: 0
2017-08    22.000
2017-09    22.000
2017-10    21.500
2017-11    21.200
2017-12    22.000
2018-01    22.000
2018-02    22.000
2018-03    22.000
2018-04    22.000
2018-05    20.600
2018-06    20.000
2018-07    20.000
2018-08    20.000
2018-09    19.875
2018-10    18.750
2018-11    17.600
2018-12    17.000
2019-01    17.000
2019-02    17.000
2019-03    16.625
2019-04    16.000
2019-05    15.700
2019-06    15.000
2019-07    14.750
2019-08    14.000
Freq: M, Name: Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg\r\nHigh (USD), dtype: float64

In [10]:
Li_Fastmarkets_col.index

PeriodIndex(['2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01',
             '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
             '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
             '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07',
             '2019-08'],
            dtype='period[M]', name='Unnamed: 0', freq='M')

In [11]:
datelist = []
for date in Li_Fastmarkets_col.index:
    date_add =  datetime.datetime(date.year, date.month, 1)
    datelist.append(date_add)


Li_Fastmarkets_col.index = datelist

In [14]:
Lithium = pd.concat([Li_Fastmarkets_col, Li_Benchmarks_col], axis=1, sort=False)

#Lithium = Lithium.dropna(subset=[ 'Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg\r\nHigh (USD)'])
Lithium = Lithium.loc['2017-08-01':, :] 
Lithium

,"Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg High (USD)",CIF Asia
2017-08-01,22.000,20500
2017-09-01,22.000,20750
2017-10-01,21.500,20000
2017-11-01,21.200,20250
2017-12-01,22.000,20500
2018-01-01,22.000,20500
2018-02-01,22.000,20500
2018-03-01,22.000,20750
2018-04-01,22.000,20500
2018-05-01,20.600,20500
2018-06-01,20.000,20250
2018-07-01,20.000,20250
2018-08-01,20.000,20000
2018-09-01,19.875,18750
2018-10-01,18.750,18750
2018-11-01,17.600,17000
2018-12-01,17.000,16500
2019-01-01,17.000,16250
2019-02-01,17.000,16000
2019-03-01,16.625,15000
2019-04-01,16.000,14750
2019-05-01,15.700,14125
2019-06-01,15.000,14000
2019-07-01,14.750,13750
2019-08-01,14.000,13650
2019-09-01,NaN,13400

In [15]:
Lithium.to_csv('raw_data_finals/LiOH/lithium_benchmark_fastmarkets.csv')

Lithium = pd.read_csv('raw_data_finals/LiOH/lithium_benchmark_fastmarkets.csv')
Lithium['Unnamed: 0'] = pd.to_datetime(Lithium['Unnamed: 0'])
Lithium.index = Lithium['Unnamed: 0']
Lithium = Lithium.iloc[:, 1:len(Lithium.columns)]
Lithium
#Lithium.to_sql("lithium_benchmark_fastmarkets", con=engine, if_exists='replace', index = True)

,"Lithium hydroxide monohydrate min 56.5% LiOH2O battery grade, spot prices CIF China, Japan & Korea, $/kg High (USD)",CIF Asia
Unnamed: 0,,
2017-08-01,22.000,20500
2017-09-01,22.000,20750
2017-10-01,21.500,20000
2017-11-01,21.200,20250
2017-12-01,22.000,20500
2018-01-01,22.000,20500
2018-02-01,22.000,20500
2018-03-01,22.000,20750
2018-04-01,22.000,20500
2018-05-01,20.600,20500
2018-06-01,20.000,20250
2018-07-01,20.000,20250
2018-08-01,20.000,20000
2018-09-01,19.875,18750
2018-10-01,18.750,18750
2018-11-01,17.600,17000
2018-12-01,17.000,16500
2019-01-01,17.000,16250
2019-02-01,17.000,16000
2019-03-01,16.625,15000
2019-04-01,16.000,14750
2019-05-01,15.700,14125
2019-06-01,15.000,14000
2019-07-01,14.750,13750
2019-08-01,14.000,13650
2019-09-01,NaN,13400

In [19]:
Lithium = Lithium.astype(float)

In [20]:
Lithium.to_sql("lithium_benchmark_fastmarkets", con=engine, if_exists='replace', index = True)

#### Reading and Cleaning EV Sales (NOTE: The only way to "download" data file is to copy/paste data into excel spreadsheet from https://insideevs.com/news/368729/ev-sales-scorecard-august-2019/)

## Notes About Structure
The following code merges two files. One is the excel file that is copy pasted, as instructed above. The second file **titled EV_kwh_references.xlsx** is a reference file containing 'look-up' information about each car model's KwH amount. 

### In the case that new makes/companies are added to the data, the reference file needs to be updated with the model/make of the car and the kwh amount.

In [17]:
model_lookup_kwh = 'raw_data_finals\EVSales\EVSalesKwHReferences.xlsx'
model_lookup_data = pd.read_excel(model_lookup_kwh)

for index, model in model_lookup_data['Model'].items():
    model_lookup_data.iloc[index, 0] = model.lower()
    #print(index)
    #print(model.lower())

kwh_dictionary = dict(zip(model_lookup_data['Model'], model_lookup_data['kwh']))
kwh_dictionary

{'tesla model 3* 🔋': 70.0,
 'toyota prius prime*': 9.0,
 'chevrolet bolt ev* 🔋': 60.0,
 'honda clarity phev*': 25.5,
 'tesla model x* 🔋': 85.0,
 'nissan leaf 🔋': 30.0,
 'tesla model s* 🔋': 85.0,
 'chevrolet volt*': 18.4,
 'bmw 530e*': 9.2,
 'ford fusion energi*': 7.0,
 'chrysler pacifica hybrid*': 16.0,
 'bmw i3 (bev 🔋 + rex)': 42.2,
 'kia niro phev*': 8.9,
 'volkswagen e-golf 🔋': 36.0,
 'mitsubishi outlander phev': 13.8,
 'audi e-tron 🔋': 95.0,
 'mercedes glc 350e*': 34.0,
 'jaguar i-pace 🔋': 90.0,
 'mercedes glc 350*': 8.7,
 'porsche panamera e-hybrid*': 9.0,
 'mercedes gle 550e*': 9.0,
 'volvo xc90 t8 phev*': 10.0,
 'bmw 330e*': 7.0,
 'bmw i8': 98.0,
 'volvo xc60 phev*': 9.2,
 'porsche cayenne s-e*': 11.0,
 'hyundai ioniq phev*': 9.0,
 'smart ed 🔋': 14.0,
 'honda clarity bev* 🔋': 17.0,
 'audi a3 sportback e-tron*': 9.0,
 'hyundai kona electric* 🔋': 64.0,
 'mini countryman se phev*': 8.0,
 'fiat 500e* 🔋': 24.0,
 'subaru crosstrek hybrid*': 8.8,
 'volvo s90 t8 phev*': 10.4,
 'hyundai ioniq ev* 🔋': 28.0,
 'kia niro ev* 🔋': 64.0,
 'hyundai sonata phev*': 1.76,
 'mercedes s550e*': 13.5,
 'bmwx5 xdrive 40e*': 9.0,
 'kia optima phev': 9.8,
 'bmw 740e*': 9.2,
 'cadillac ct6 phev*': 3.3,
 'mercedes b250e*': 28.0,
 'kia soul ev* 🔋': 64.0,
 'mercedes c350e*': 0.0}

In [34]:
filename4 = 'raw_data_finals\EVSales\EVSales.xlsx'
EVSales = pd.read_excel(filename4)



# read census.csv into a dataframe to create pandas dataframe
#commodities = pd.read_csv("raw_data_finals\Commodities.csv")
#commodities = commodities.iloc[:, 0:len(commodities.columns)]

EVSales.columns = EVSales.iloc[0]
EVSales = EVSales.loc[:, EVSales.columns.notnull()]

# Creating dummy dates column 
for index, model in EVSales['2019 U.S. EV SALES'].items():
    EVSales.loc[index, '2019 U.S. EV SALES'] = model.lower()



#############
EVSales = EVSales.iloc[1:len(EVSales)-4, :len(EVSales.columns)]



EVSales['kwh'] = EVSales['2019 U.S. EV SALES'].map(kwh_dictionary)

Sales = EVSales.iloc[:, 1:]
Sales = Sales.astype(float)
EVSales = pd.concat([EVSales.iloc[:, 0], Sales], axis=1, sort=False)
EVSales

,2019 U.S. EV SALES,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,TOTAL,kwh
1,tesla model 3* 🔋,6500.0,5750.0,10175.0,10050.0,13950.0,21225.0,13450.0,13150.0,NaN,NaN,NaN,NaN,94250.0,70.00
2,toyota prius prime*,1123.0,1205.0,1820.0,1399.0,1914.0,1144.0,2950.0,2500.0,NaN,NaN,NaN,NaN,14055.0,9.00
3,tesla model x* 🔋,775.0,900.0,2175.0,1050.0,1375.0,2725.0,1225.0,1825.0,NaN,NaN,NaN,NaN,12050.0,85.00
4,chevrolet bolt ev* 🔋,925.0,1225.0,2166.0,910.0,1396.0,1659.0,985.0,NaN,NaN,NaN,NaN,NaN,9266.0,60.00
5,tesla model s* 🔋,725.0,625.0,2275.0,825.0,1025.0,1750.0,975.0,1050.0,NaN,NaN,NaN,NaN,9250.0,85.00
6,honda clarity phev*,1192.0,1213.0,1311.0,981.0,816.0,1030.0,800.0,840.0,NaN,NaN,NaN,NaN,8183.0,25.50
7,nissan leaf 🔋,717.0,654.0,1314.0,951.0,1216.0,1156.0,938.0,1117.0,NaN,NaN,NaN,NaN,8063.0,30.00
8,ford fusion energi*,557.0,573.0,611.0,585.0,605.0,675.0,720.0,NaN,NaN,NaN,NaN,NaN,4326.0,7.00
9,chevrolet volt*,675.0,615.0,1230.0,405.0,408.0,333.0,250.0,NaN,NaN,NaN,NaN,NaN,3916.0,18.40
10,bmw 530e*,376.0,414.0,436.0,416.0,727.0,908.0,444.0,186.0,NaN,NaN,NaN,NaN,3907.0,9.20
11,chrysler pacifica hybrid*,436.0,589.0,383.0,347.0,390.0,391.0,385.0,395.0,NaN,NaN,NaN,NaN,3316.0,16.00
12,audi e-tron 🔋,NaN,NaN,NaN,253.0,856.0,726.0,678.0,593.0,NaN,NaN,NaN,NaN,3106.0,95.00
13,volkswagen e-golf 🔋,164.0,118.0,581.0,400.0,264.0,366.0,460.0,689.0,NaN,NaN,NaN,NaN,3042.0,36.00
14,bmw i3 (bev 🔋 + rex),255.0,350.0,359.0,331.0,439.0,473.0,304.0,385.0,NaN,NaN,NaN,NaN,2896.0,42.20
15,kia niro phev*,279.0,505.0,230.0,245.0,329.0,351.0,325.0,NaN,NaN,NaN,NaN,NaN,2264.0,8.90
16,mitsubishi outlander phev,133.0,157.0,341.0,163.0,232.0,222.0,213.0,277.0,NaN,NaN,NaN,NaN,1738.0,13.80
17,mercedes glc 350e*,74.0,72.0,175.0,220.0,264.0,270.0,265.0,230.0,NaN,NaN,NaN,NaN,1570.0,34.00
18,jaguar i-pace 🔋,210.0,186.0,212.0,237.0,228.0,236.0,213.0,160.0,NaN,NaN,NaN,NaN,1682.0,90.00
19,mercedes c350e*,140.0,145.0,135.0,173.0,215.0,235.0,230.0,190.0,NaN,NaN,NaN,NaN,1463.0,0.00
20,porsche panamera e-hybrid*,150.0,160.0,195.0,155.0,170.0,195.0,165.0,NaN,NaN,NaN,NaN,NaN,1190.0,9.00
21,mercedes gle 550e*,92.0,95.0,110.0,150.0,185.0,180.0,170.0,105.0,NaN,NaN,NaN,NaN,1087.0,9.00
22,bmw i8,23.0,47.0,91.0,87.0,145.0,280.0,101.0,90.0,NaN,NaN,NaN,NaN,864.0,98.00
23,volvo xc90 t8 phev*,95.0,105.0,155.0,100.0,120.0,170.0,110.0,NaN,NaN,NaN,NaN,NaN,855.0,10.00
24,volvo xc60 phev*,90.0,100.0,125.0,85.0,95.0,175.0,140.0,NaN,NaN,NaN,NaN,NaN,810.0,9.20
25,bmw 330e*,216.0,185.0,175.0,53.0,27.0,25.0,16.0,6.0,NaN,NaN,NaN,NaN,703.0,7.00
26,smart ed 🔋,83.0,58.0,90.0,85.0,106.0,74.0,56.0,74.0,NaN,NaN,NaN,NaN,626.0,14.00
27,porsche cayenne s-e*,65.0,95.0,115.0,70.0,105.0,75.0,95.0,NaN,NaN,NaN,NaN,NaN,620.0,11.00
28,hyundai ioniq phev*,73.0,54.0,94.0,63.0,63.0,152.0,105.0,NaN,NaN,NaN,NaN,NaN,604.0,9.00
29,hyundai kona electric* 🔋,0.0,16.0,127.0,77.0,91.0,116.0,150.0,NaN,NaN,NaN,NaN,NaN,577.0,64.00
30,honda clarity bev* 🔋,78.0,68.0,92.0,88.0,82.0,52.0,47.0,65.0,NaN,NaN,NaN,NaN,572.0,17.00
31,audi a3 sportback e-tron*,175.0,210.0,45.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,437.0,9.00
32,mini countryman se phev*,50.0,63.0,45.0,37.0,85.0,44.0,40.0,20.0,NaN,NaN,NaN,NaN,384.0,8.00
33,fiat 500e* 🔋,72.0,87.0,33.0,20.0,60.0,25.0,40.0,45.0,NaN,NaN,NaN,NaN,382.0,24.00
34,subaru crosstrek hybrid*,NaN,27.0,52.0,47.0,65.0,70.0,115.0,NaN,NaN,NaN,NaN,NaN,376.0,8.80
35,volvo s90 t8 phev*,35.0,45.0,55.0,35.0,50.0,40.0,45.0,NaN,NaN,NaN,NaN,NaN,305.0,10.40
36,kia niro ev* 🔋,NaN,NaN,NaN,40.0,119.0,49.0,80.0,NaN,NaN,NaN,NaN,NaN,288.0,64.00
37,hyundai ioniq ev* 🔋,34.0,32.0,28.0,9.0,61.0,62.0,55.0,NaN,NaN,NaN,NaN,NaN,281.0,28.00
38,mercedes s550e*,8.0,10.0,22.0,35.0,51.0,60.0,50.0,24.0,NaN,NaN,NaN,NaN,260.0,13.50
39,hyundai sonata phev*,4.0,71.0,7.0,46.0,40.0,30.0,35.0,NaN,NaN,NaN,NaN,NaN,233.0,1.76
40,bmwx5 xdrive 40e*,71.0,38.0,26.0,9.0,4.0,8.0,4.0,2.0,NaN,NaN,NaN,NaN,162.0,9.00
41,kia optima phev,30.0,11.0,8.0,5.0,0.0,51.0,35.0,NaN,NaN,NaN,NaN,NaN,140.0,9.80
42,bmw 740e*,6.0,14.0,15.0,8.0,12.0,6.0,2.0,1.0,NaN,NaN,NaN,NaN,64.0,9.20
43,cadillac ct6 phev*,8.0,1.0,3.0,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,18.0,3.30
44,mercedes b250e*,1.0,2.0,0.0,1.0,0.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,8.0,28.00
45,kia soul ev* 🔋,0.0,1.0,2.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,5.0,64.00

### Additional Data Transformations to Convert Sales to kwh units per make/model

In [35]:
EVSales['JAN kwh'] = EVSales['JAN']*EVSales['kwh']
EVSales['FEB kwh'] = EVSales['FEB']*EVSales['kwh']
EVSales['MAR kwh'] = EVSales['MAR']*EVSales['kwh']
EVSales['APR kwh'] = EVSales['APR']*EVSales['kwh']
EVSales['MAY kwh'] = EVSales['MAY']*EVSales['kwh']
EVSales['JUN kwh'] = EVSales['JUN']*EVSales['kwh']
EVSales['JUL kwh'] = EVSales['JUL']*EVSales['kwh']
EVSales['AUG kwh'] = EVSales['AUG']*EVSales['kwh']
EVSales['SEP kwh'] = EVSales['SEP']*EVSales['kwh']
EVSales['OCT kwh'] = EVSales['OCT']*EVSales['kwh']
EVSales['NOV kwh'] = EVSales['NOV']*EVSales['kwh']
EVSales['DEC kwh'] = EVSales['DEC']*EVSales['kwh']


EVSales.head()

,2019 U.S. EV SALES,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,MAR kwh,APR kwh,MAY kwh,JUN kwh,JUL kwh,AUG kwh,SEP kwh,OCT kwh,NOV kwh,DEC kwh
1,tesla model 3* 🔋,6500.0,5750.0,10175.0,10050.0,13950.0,21225.0,13450.0,13150.0,NaN,...,712250.0,703500.0,976500.0,1485750.0,941500.0,920500.0,NaN,NaN,NaN,NaN
2,toyota prius prime*,1123.0,1205.0,1820.0,1399.0,1914.0,1144.0,2950.0,2500.0,NaN,...,16380.0,12591.0,17226.0,10296.0,26550.0,22500.0,NaN,NaN,NaN,NaN
3,tesla model x* 🔋,775.0,900.0,2175.0,1050.0,1375.0,2725.0,1225.0,1825.0,NaN,...,184875.0,89250.0,116875.0,231625.0,104125.0,155125.0,NaN,NaN,NaN,NaN
4,chevrolet bolt ev* 🔋,925.0,1225.0,2166.0,910.0,1396.0,1659.0,985.0,NaN,NaN,...,129960.0,54600.0,83760.0,99540.0,59100.0,NaN,NaN,NaN,NaN,NaN
5,tesla model s* 🔋,725.0,625.0,2275.0,825.0,1025.0,1750.0,975.0,1050.0,NaN,...,193375.0,70125.0,87125.0,148750.0,82875.0,89250.0,NaN,NaN,NaN,NaN

In [36]:
#EVSales.index = pd.to_datetime(EVSales.index).dt.to_period('M')

EVSales['Company'] = EVSales.loc[:, '2019 U.S. EV SALES'].str.split(' ', n=1, expand=True)[0]
for key, item in EVSales['Company'].items():
    if item == 'bmwx5':
        EVSales['Company'][key] = 'bmw'


# Li_Fastmarkets.index = pd.to_datetime(Li_Fastmarkets['Unnamed: 0']).dt.to_period('M')
EVSales = EVSales.groupby(EVSales['Company']).sum()

#EVSales = EVSales.reset_index()

C:\Users\ckato\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
EVSales

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,...,APR kwh,MAY kwh,JUN kwh,JUL kwh,AUG kwh,SEP kwh,OCT kwh,NOV kwh,DEC kwh,Company
Company,,,,,,,,,,,,,,,,,,,,,
audi,175.0,210.0,45.0,260.0,856.0,726.0,678.0,593.0,0.0,0.0,...,24098.00,81320.0,68970.0,64410.0,56335.0,0.0,0.0,0.0,0.0,audi
bmw,947.0,1048.0,1102.0,904.0,1354.0,1700.0,871.0,670.0,0.0,0.0,...,26847.00,39759.6,56056.4,26978.0,26847.4,0.0,0.0,0.0,0.0,bmw
cadillac,8.0,1.0,3.0,2.0,0.0,2.0,2.0,0.0,0.0,0.0,...,6.60,0.0,6.6,6.6,0.0,0.0,0.0,0.0,0.0,cadillac
chevrolet,1600.0,1840.0,3396.0,1315.0,1804.0,1992.0,1235.0,0.0,0.0,0.0,...,62052.00,91267.2,105667.2,63700.0,0.0,0.0,0.0,0.0,0.0,chevrolet
chrysler,436.0,589.0,383.0,347.0,390.0,391.0,385.0,395.0,0.0,0.0,...,5552.00,6240.0,6256.0,6160.0,6320.0,0.0,0.0,0.0,0.0,chrysler
fiat,72.0,87.0,33.0,20.0,60.0,25.0,40.0,45.0,0.0,0.0,...,480.00,1440.0,600.0,960.0,1080.0,0.0,0.0,0.0,0.0,fiat
ford,557.0,573.0,611.0,585.0,605.0,675.0,720.0,0.0,0.0,0.0,...,4095.00,4235.0,4725.0,5040.0,0.0,0.0,0.0,0.0,0.0,ford
honda,1270.0,1281.0,1403.0,1069.0,898.0,1082.0,847.0,905.0,0.0,0.0,...,26511.50,22202.0,27149.0,21199.0,22525.0,0.0,0.0,0.0,0.0,honda
hyundai,111.0,173.0,256.0,195.0,255.0,360.0,345.0,0.0,0.0,0.0,...,5827.96,8169.4,10580.8,12146.6,0.0,0.0,0.0,0.0,0.0,hyundai
jaguar,210.0,186.0,212.0,237.0,228.0,236.0,213.0,160.0,0.0,0.0,...,21330.00,20520.0,21240.0,19170.0,14400.0,0.0,0.0,0.0,0.0,jaguar
kia,309.0,517.0,240.0,290.0,449.0,451.0,441.0,0.0,0.0,0.0,...,4789.50,10608.1,6759.7,8419.5,0.0,0.0,0.0,0.0,0.0,kia
mercedes,315.0,324.0,442.0,579.0,715.0,747.0,716.0,550.0,0.0,0.0,...,9330.50,11329.5,11666.0,11243.0,9117.0,0.0,0.0,0.0,0.0,mercedes
mini,50.0,63.0,45.0,37.0,85.0,44.0,40.0,20.0,0.0,0.0,...,296.00,680.0,352.0,320.0,160.0,0.0,0.0,0.0,0.0,mini
mitsubishi,133.0,157.0,341.0,163.0,232.0,222.0,213.0,277.0,0.0,0.0,...,2249.40,3201.6,3063.6,2939.4,3822.6,0.0,0.0,0.0,0.0,mitsubishi
nissan,717.0,654.0,1314.0,951.0,1216.0,1156.0,938.0,1117.0,0.0,0.0,...,28530.00,36480.0,34680.0,28140.0,33510.0,0.0,0.0,0.0,0.0,nissan
porsche,215.0,255.0,310.0,225.0,275.0,270.0,260.0,0.0,0.0,0.0,...,2165.00,2685.0,2580.0,2530.0,0.0,0.0,0.0,0.0,0.0,porsche
smart,83.0,58.0,90.0,85.0,106.0,74.0,56.0,74.0,0.0,0.0,...,1190.00,1484.0,1036.0,784.0,1036.0,0.0,0.0,0.0,0.0,smart
subaru,0.0,27.0,52.0,47.0,65.0,70.0,115.0,0.0,0.0,0.0,...,413.60,572.0,616.0,1012.0,0.0,0.0,0.0,0.0,0.0,subaru
tesla,8000.0,7275.0,14625.0,11925.0,16350.0,25700.0,15650.0,16025.0,0.0,0.0,...,862875.00,1180500.0,1866125.0,1128500.0,1164875.0,0.0,0.0,0.0,0.0,tesla
toyota,1123.0,1205.0,1820.0,1399.0,1914.0,1144.0,2950.0,2500.0,0.0,0.0,...,12591.00,17226.0,10296.0,26550.0,22500.0,0.0,0.0,0.0,0.0,toyota
volkswagen,164.0,118.0,581.0,400.0,264.0,366.0,460.0,689.0,0.0,0.0,...,14400.00,9504.0,13176.0,16560.0,24804.0,0.0,0.0,0.0,0.0,volkswagen
volvo,220.0,250.0,335.0,220.0,265.0,385.0,295.0,0.0,0.0,0.0,...,2146.00,2594.0,3726.0,2856.0,0.0,0.0,0.0,0.0,0.0,volvo

In [38]:
EVSales = EVSales.reset_index()
EVSales

,Company,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,MAR kwh,APR kwh,MAY kwh,JUN kwh,JUL kwh,AUG kwh,SEP kwh,OCT kwh,NOV kwh,DEC kwh
0,audi,175.0,210.0,45.0,260.0,856.0,726.0,678.0,593.0,0.0,...,405.00,24098.00,81320.0,68970.0,64410.0,56335.0,0.0,0.0,0.0,0.0
1,bmw,947.0,1048.0,1102.0,904.0,1354.0,1700.0,871.0,670.0,0.0,...,29676.00,26847.00,39759.6,56056.4,26978.0,26847.4,0.0,0.0,0.0,0.0
2,cadillac,8.0,1.0,3.0,2.0,0.0,2.0,2.0,0.0,0.0,...,9.90,6.60,0.0,6.6,6.6,0.0,0.0,0.0,0.0,0.0
3,chevrolet,1600.0,1840.0,3396.0,1315.0,1804.0,1992.0,1235.0,0.0,0.0,...,152592.00,62052.00,91267.2,105667.2,63700.0,0.0,0.0,0.0,0.0,0.0
4,chrysler,436.0,589.0,383.0,347.0,390.0,391.0,385.0,395.0,0.0,...,6128.00,5552.00,6240.0,6256.0,6160.0,6320.0,0.0,0.0,0.0,0.0
5,fiat,72.0,87.0,33.0,20.0,60.0,25.0,40.0,45.0,0.0,...,792.00,480.00,1440.0,600.0,960.0,1080.0,0.0,0.0,0.0,0.0
6,ford,557.0,573.0,611.0,585.0,605.0,675.0,720.0,0.0,0.0,...,4277.00,4095.00,4235.0,4725.0,5040.0,0.0,0.0,0.0,0.0,0.0
7,honda,1270.0,1281.0,1403.0,1069.0,898.0,1082.0,847.0,905.0,0.0,...,34994.50,26511.50,22202.0,27149.0,21199.0,22525.0,0.0,0.0,0.0,0.0
8,hyundai,111.0,173.0,256.0,195.0,255.0,360.0,345.0,0.0,0.0,...,9770.32,5827.96,8169.4,10580.8,12146.6,0.0,0.0,0.0,0.0,0.0
9,jaguar,210.0,186.0,212.0,237.0,228.0,236.0,213.0,160.0,0.0,...,19080.00,21330.00,20520.0,21240.0,19170.0,14400.0,0.0,0.0,0.0,0.0
10,kia,309.0,517.0,240.0,290.0,449.0,451.0,441.0,0.0,0.0,...,2253.40,4789.50,10608.1,6759.7,8419.5,0.0,0.0,0.0,0.0,0.0
11,mercedes,315.0,324.0,442.0,579.0,715.0,747.0,716.0,550.0,0.0,...,7237.00,9330.50,11329.5,11666.0,11243.0,9117.0,0.0,0.0,0.0,0.0
12,mini,50.0,63.0,45.0,37.0,85.0,44.0,40.0,20.0,0.0,...,360.00,296.00,680.0,352.0,320.0,160.0,0.0,0.0,0.0,0.0
13,mitsubishi,133.0,157.0,341.0,163.0,232.0,222.0,213.0,277.0,0.0,...,4705.80,2249.40,3201.6,3063.6,2939.4,3822.6,0.0,0.0,0.0,0.0
14,nissan,717.0,654.0,1314.0,951.0,1216.0,1156.0,938.0,1117.0,0.0,...,39420.00,28530.00,36480.0,34680.0,28140.0,33510.0,0.0,0.0,0.0,0.0
15,porsche,215.0,255.0,310.0,225.0,275.0,270.0,260.0,0.0,0.0,...,3020.00,2165.00,2685.0,2580.0,2530.0,0.0,0.0,0.0,0.0,0.0
16,smart,83.0,58.0,90.0,85.0,106.0,74.0,56.0,74.0,0.0,...,1260.00,1190.00,1484.0,1036.0,784.0,1036.0,0.0,0.0,0.0,0.0
17,subaru,0.0,27.0,52.0,47.0,65.0,70.0,115.0,0.0,0.0,...,457.60,413.60,572.0,616.0,1012.0,0.0,0.0,0.0,0.0,0.0
18,tesla,8000.0,7275.0,14625.0,11925.0,16350.0,25700.0,15650.0,16025.0,0.0,...,1090500.00,862875.00,1180500.0,1866125.0,1128500.0,1164875.0,0.0,0.0,0.0,0.0
19,toyota,1123.0,1205.0,1820.0,1399.0,1914.0,1144.0,2950.0,2500.0,0.0,...,16380.00,12591.00,17226.0,10296.0,26550.0,22500.0,0.0,0.0,0.0,0.0
20,volkswagen,164.0,118.0,581.0,400.0,264.0,366.0,460.0,689.0,0.0,...,20916.00,14400.00,9504.0,13176.0,16560.0,24804.0,0.0,0.0,0.0,0.0
21,volvo,220.0,250.0,335.0,220.0,265.0,385.0,295.0,0.0,0.0,...,3272.00,2146.00,2594.0,3726.0,2856.0,0.0,0.0,0.0,0.0,0.0

In [39]:
# Creating Dummy Dates for indices
EVSales['Date'] = pd.to_datetime('2000-01-01')

for i in EVSales.index:
    #print( battery_cap.iloc[i, 5])
    EVSales.iloc[i-1, len(EVSales.columns)-1]= EVSales.iloc[i-1, len(EVSales.columns)-1]+ datetime.timedelta(days=i-1)
    
EVSales.index = EVSales['Date']
EVSales = EVSales.iloc[:, 0:len(EVSales.columns)-1]

In [41]:
EVSales.to_sql("EVSales", con=engine, if_exists='replace', index = True)
#df = pd.read_sql_query('SELECT * from EVSales;', connection)
EVSales
#df['Date'] = pd.to_datetime(df['Date'])
#df.head()

,Company,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,...,MAR kwh,APR kwh,MAY kwh,JUN kwh,JUL kwh,AUG kwh,SEP kwh,OCT kwh,NOV kwh,DEC kwh
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,audi,175.0,210.0,45.0,260.0,856.0,726.0,678.0,593.0,0.0,...,405.00,24098.00,81320.0,68970.0,64410.0,56335.0,0.0,0.0,0.0,0.0
2000-01-02,bmw,947.0,1048.0,1102.0,904.0,1354.0,1700.0,871.0,670.0,0.0,...,29676.00,26847.00,39759.6,56056.4,26978.0,26847.4,0.0,0.0,0.0,0.0
2000-01-03,cadillac,8.0,1.0,3.0,2.0,0.0,2.0,2.0,0.0,0.0,...,9.90,6.60,0.0,6.6,6.6,0.0,0.0,0.0,0.0,0.0
2000-01-04,chevrolet,1600.0,1840.0,3396.0,1315.0,1804.0,1992.0,1235.0,0.0,0.0,...,152592.00,62052.00,91267.2,105667.2,63700.0,0.0,0.0,0.0,0.0,0.0
2000-01-05,chrysler,436.0,589.0,383.0,347.0,390.0,391.0,385.0,395.0,0.0,...,6128.00,5552.00,6240.0,6256.0,6160.0,6320.0,0.0,0.0,0.0,0.0
2000-01-06,fiat,72.0,87.0,33.0,20.0,60.0,25.0,40.0,45.0,0.0,...,792.00,480.00,1440.0,600.0,960.0,1080.0,0.0,0.0,0.0,0.0
2000-01-07,ford,557.0,573.0,611.0,585.0,605.0,675.0,720.0,0.0,0.0,...,4277.00,4095.00,4235.0,4725.0,5040.0,0.0,0.0,0.0,0.0,0.0
2000-01-08,honda,1270.0,1281.0,1403.0,1069.0,898.0,1082.0,847.0,905.0,0.0,...,34994.50,26511.50,22202.0,27149.0,21199.0,22525.0,0.0,0.0,0.0,0.0
2000-01-09,hyundai,111.0,173.0,256.0,195.0,255.0,360.0,345.0,0.0,0.0,...,9770.32,5827.96,8169.4,10580.8,12146.6,0.0,0.0,0.0,0.0,0.0
2000-01-10,jaguar,210.0,186.0,212.0,237.0,228.0,236.0,213.0,160.0,0.0,...,19080.00,21330.00,20520.0,21240.0,19170.0,14400.0,0.0,0.0,0.0,0.0
2000-01-11,kia,309.0,517.0,240.0,290.0,449.0,451.0,441.0,0.0,0.0,...,2253.40,4789.50,10608.1,6759.7,8419.5,0.0,0.0,0.0,0.0,0.0
2000-01-12,mercedes,315.0,324.0,442.0,579.0,715.0,747.0,716.0,550.0,0.0,...,7237.00,9330.50,11329.5,11666.0,11243.0,9117.0,0.0,0.0,0.0,0.0
2000-01-13,mini,50.0,63.0,45.0,37.0,85.0,44.0,40.0,20.0,0.0,...,360.00,296.00,680.0,352.0,320.0,160.0,0.0,0.0,0.0,0.0
2000-01-14,mitsubishi,133.0,157.0,341.0,163.0,232.0,222.0,213.0,277.0,0.0,...,4705.80,2249.40,3201.6,3063.6,2939.4,3822.6,0.0,0.0,0.0,0.0
2000-01-15,nissan,717.0,654.0,1314.0,951.0,1216.0,1156.0,938.0,1117.0,0.0,...,39420.00,28530.00,36480.0,34680.0,28140.0,33510.0,0.0,0.0,0.0,0.0
2000-01-16,porsche,215.0,255.0,310.0,225.0,275.0,270.0,260.0,0.0,0.0,...,3020.00,2165.00,2685.0,2580.0,2530.0,0.0,0.0,0.0,0.0,0.0
2000-01-17,smart,83.0,58.0,90.0,85.0,106.0,74.0,56.0,74.0,0.0,...,1260.00,1190.00,1484.0,1036.0,784.0,1036.0,0.0,0.0,0.0,0.0
2000-01-18,subaru,0.0,27.0,52.0,47.0,65.0,70.0,115.0,0.0,0.0,...,457.60,413.60,572.0,616.0,1012.0,0.0,0.0,0.0,0.0,0.0
2000-01-19,tesla,8000.0,7275.0,14625.0,11925.0,16350.0,25700.0,15650.0,16025.0,0.0,...,1090500.00,862875.00,1180500.0,1866125.0,1128500.0,1164875.0,0.0,0.0,0.0,0.0
2000-01-20,toyota,1123.0,1205.0,1820.0,1399.0,1914.0,1144.0,2950.0,2500.0,0.0,...,16380.00,12591.00,17226.0,10296.0,26550.0,22500.0,0.0,0.0,0.0,0.0
2000-01-21,volkswagen,164.0,118.0,581.0,400.0,264.0,366.0,460.0,689.0,0.0,...,20916.00,14400.00,9504.0,13176.0,16560.0,24804.0,0.0,0.0,0.0,0.0
1999-12-31,volvo,220.0,250.0,335.0,220.0,265.0,385.0,295.0,0.0,0.0,...,3272.00,2146.00,2594.0,3726.0,2856.0,0.0,0.0,0.0,0.0,0.0

In [189]:
result_proxy = connection.execute('DROP table EVSales;')

# fetches a result set as python object
#results = result_proxy.fetchall()

# What's in the database already?
print(engine.table_names())

['battery_cap', 'commodities', 'fastmarkets', 'usage']

# Step 3: Upload and replace associated tables in SQLfile

In [92]:
dataframes_list = [commodities, battery_cap, fastmarkets]

commodities.to_sql("commodities", con=engine, if_exists='replace', index = True)
battery_cap.to_sql("battery_cap", con=engine, if_exists='replace', index = True)
fastmarkets.to_sql("fastmarkets", con=engine, if_exists='replace', index = True)
usage.to_sql("usage", con=engine, if_exists='replace', index = True)
EVSales.to_sql("EVSales", con=engine, if_exists='replace', index = True)

# What's in the database already?
print(engine.table_names())

['battery_cap', 'commodities', 'fastmarkets', 'usage']

## Test SQL Codes

In [241]:
results = engine.execute("SELECT * FROM fastmarkets").fetchall()

#result_proxy = connection.execute(stmt)
#for item in results:
    #print(item.keys())
    #print(item.values())

In [72]:
#result_proxy = connection.execute('DROP table fastmarkets1;')
result_proxy = connection.execute('DROP table fastmarkets_nonulls1;')

# fetches a result set as python object
#results = result_proxy.fetchall()

# What's in the database already?
print(engine.table_names())

['battery_cap', 'commodities', 'fastmarkets']

In [223]:
connection.close()